.vscode/**
.vscode-test/**
client/src/**
server/src/**
node_modules/**
.gitignore
*.map
*.ts
!*.d.ts
tsconfig.json
client/tsconfig.json
server/tsconfig.json
.eslintrc*
eslint.config.*
.prettierrc*
jest.config.*
**/*.test.*
**/*.spec.*
